.card_container {
  display: block;
}
.photo_flex {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
.photo_flex_1 {
  display: flex;
  gap: 3px;
}
.photo_flex_2 {
  display: flex;
  flex-direction: column;
  border: none;
}
.photo_flex_3 {
  display: flex;
}

.section_about_us {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.text_1 {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: 35px;
}
.about_us_images {
  margin-top: 22px;
  width: 35%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  row-gap: 5px;
}
.about_us_imgs {
  flex: 0 0 25%;
}

.about_us_profile_img_box {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.about_us_profile_img {
  border-radius: 50%;
}

.feature_text_box {
  margin-bottom: 35px;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  margin-left: 12px;
}
.feature_text {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
}

.h3 {
  display: flex;
  justify-content: center;
  margin-left: 12px;
  margin-top: -20px;
}
 
.box {
  position: relative;
  top: 40px;
  margin-left: 18.25%;
  
}

.text_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text_img {
  opacity: 0.5;
}
.text_box {
  position: absolute;
  top: 15%;
  right: 37%;
}
.text_1 {
   font-size: 13px;
  font-weight: 500;
  color: rgb(46, 136, 253);
  margin-right: 20%;
} 
.text_2 {
  width: 400px;
  text-align: center;
}  
.text_3 {
  font-size: 13px;
  font-weight: 500;
  color: rgb(122, 121, 121);
  margin-right: 5%;
  margin-right: 16%;
  text-align: center;
} 
.text_4 {
  color:green;
  margin-top: 5%;
  margin-right: 18%;
  text-align: center;
} 
.button_load_more {
  margin-left: 25%;
  margin-top: -10%;
  height: 40px;
  width: 250px;
  background-color: blue;
  border: none;
}